.icon {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    min-width: var(--icon-size);
    min-height: var(--icon-size);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    padding: 0 var(--unit-2);
}

@media (min-width: 992px) {
    .container {
        max-width: 900px;
        margin: auto;
    }
}

.local-reference {
    color: inherit;
    text-decoration: none;
    border-width: 0 0 1px 0;
    border-style: dashed;
    border-color: var(--primary);
    background-color: var(--primary-dark);
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}