footer {
    padding: var(--unit-3) 0;
    background-color: var(--primary-darkest);
    position: relative;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer.has-indent {
    margin-top: var(--unit-2);
}

.icon-logo {
    background-image: url('../icons/NLE.svg');
}

.label {
    display: flex;
    align-items: center;
}

.abbreviation {
    margin-left: var(--unit);
    line-height: 1;
}

.contacts {
    display: flex;
    align-items: center;
    position: relative;
    color: var(--primary);
    font-weight: bold;
}

.contact {
    position: absolute;
    right: 13px;
}

.contacts.animate .contact::before {
    content: '';
    animation-name: typing;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.contacts.animate .terminal-cursor::after {
    content: '';
    animation-name: terminal-cursor;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes terminal-cursor {
    from {
        content: '';
    }

    to {
        content: '█';
    }
}

@keyframes typing {
    12.5% {
        content: 'C';
    }

    25% {
        content: 'CO';
    }

    37.5% {
        content: 'CON';
    }

    50% {
        content: 'CONT';
    }

    62.5% {
        content: 'CONTA';
    }

    75% {
        content: 'CONTAC';
    }

    to {
        content: 'CONTACT';
    }
}