header {
    background-color: var(--primary-darkest);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: -1px;
    margin: 0 calc(var(--unit-2) * -1);
    padding: 0 var(--unit-2);
}

[role="button"] {
    cursor: pointer;
}

.arrow {
    text-shadow: var(--text-shadow);
}

.arrow::after {
    content: '▲';
}

.arrow.scrolled::after {
    content: '▼';
}