@import url('./scrollbar.css');

:root {
  --header-height: 50px;
}

@media (min-width: 992px) {
  :root {
    --header-height: 70px;
  }
}

body {
  /* display: flex; */
  margin: 0;
  background-color: #000A00;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Montserrat', sans-serif;

  /* background: black; */
}

canvas {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  background-color: #000A00;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: -1px;
}

main {
  color: #FFFFFF;
  margin-top: calc(100vh - var(--header-height));
}

footer {
  padding: 24px 0;
  background-color: #000A00;
  position: relative;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 568px) {
  footer {
    margin-top: 16px;
  }
}

h1 {
  margin: 0;
  font-size: 1rem;
}

.content {
  background-color: #000A00;
  position: relative;
}

.container {

  padding: 0 16px;
}

/* .container {
  background-color: #000A00;
} */

/* .container {
  padding: 0 16px;
} */

@media (min-width: 992px) {
  .container {
    max-width: 900px;
    margin: auto;
  }
}

h1,
.arrow,
.abbreviation {
  text-shadow: -1px -1px 0 #008F11, 1px -1px 0 #008F11, -1px 1px 0 #008F11, 1px 1px 0 #008F11;
}

article {
  text-shadow: -1px -1px 0 #008f11;
  line-height: 1.4;
  padding-bottom: 16px;
}

.logo {
  display: block;
  width: 21px;
  height: 21px;
  background-image: url('../icons/NLE.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.label {
  display: flex;
  align-items: center;
}

.abbreviation {
  margin: 0 0 0 8px;
  line-height: 1;
}

.contacts {
  display: flex;
  align-items: center;
  position: relative;
  color: #00FF41;
  font-weight: bold;
}

.contact {
  position: absolute;
  right: 13px;
}

.contact::before {
  /* display: inline; */
  content: '';
  animation-name: typing;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  /* animation-fill-mode: forwards; */
}

.terminal-cursor::after {
  /* display: block; */
  content: '';
  animation-name: terminal-cursor;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes terminal-cursor {
  from {
    content: '';
  }

  to {
    content: '█';
  }
}

@keyframes typing {
  12.5% {
    content: 'C';
  }

  25% {
    content: 'CO';
  }

  37.5% {
    content: 'CON';
  }

  50% {
    content: 'CONT';
  }

  62.5% {
    content: 'CONTA';
  }

  75% {
    content: 'CONTAC';
  }

  to {
    content: 'CONTACT';
  }
}