/* Chrome specific */
::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--primary-darker);
    box-shadow: inset 0 0 6px var(--primary-darker);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px var(--primary);
    box-shadow: inset 0 0 6px var(--primary);
}

/* Mozilla specific */
@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--primary-darker) var(--primary-darkest);
    }
}