:root {
    --unit-half: 4px;
    --unit: 8px;
    --unit-2: 16px;
    --unit-3: 24px;

    --primary-darkest: #000A00;
    --primary-dark: #003B00;
    --primary-darker: #008F11;
    --primary: #00FF41;
    --primary-lighter: #ACFBAC;
    --primary-light: #E0FFDD;
    --primary-lightest: #FFFFFF;

    --text-shadow: -1px -1px 0 var(--primary-darker), 1px -1px 0 var(--primary-darker), -1px 1px 0 var(--primary-darker), 1px 1px 0 var(--primary-darker);

    /* primary-darker */
    --block-background: rgba(0, 143, 17, 0.15);

    --icon-size: 21px;

    --main-top-offset: 0;
    --header-height: 50px;
}

@media (min-width: 992px) {
    :root {
        --header-height: 70px;
    }
}